/*TABLETS*/ 
@media (min-width: 768px) and (max-width: 1024px) {
    .js .header .header-content {
       padding-left: 10px;
       padding-right: 10px;
    }
    .js .content_site {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .js .content_site .section_current_climate {
        width: 372px;
        margin-bottom: 30px;
    }
    .js .content_site .previsao {
        margin-left: 0;
        width: 90%;
        margin: 0 10px;
        padding: 30px 10px;
    }
    .js .content_site .previsao .previsao_content .information_previsao {
        margin-left: 20px;
        margin-right: 20px;
        min-width: 110px;
    }
    .js .section_rodape .content_footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 767px) {
    .js .header .header-content .header-content-logo h1 {
        display: none;
    }
    .js .header .header-content .header-content-logo img {
        border: none;
    }
    .js .header .header-content .header_content_data {
        padding-left: 20px;
    }
    .js .content_site {
        padding: 20px 0;
    }
    .js .content_site .section_current_climate {
        padding: 20px 0;
    }
    .js .section_rodape .content_footer {
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }
    .js .section_rodape .content_footer .social_media .github {
        margin-right: 0px;
    }
    .js .section_rodape .content_footer .direitos div img {
        display: none;
    }
    .js .section_rodape .content_footer .direitos p {
        margin-left: 0;
        text-align: center;
    }
    .js .section_rodape .content_footer .direitos div {
        padding-right: 0;
    }
    .js .section_rodape .content_footer .social_media::after {
        content: "";
        display: block;
        width: 150px;
        height: 2px;
        background-color: #121214;
        margin: 20px auto;
    }
    .js .content_site .previsao {
        margin-left: 0;
        margin-top: 20px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 0px;
    }
    .js .content_site .previsao .previsao_content {
        height: 500px;
        padding: 40px 0;
        padding-bottom: 0;
        overflow: scroll;
    }
    .js .content_site .previsao .previsao_content .information_previsao {
        margin: 0 auto;
        margin-bottom: 50px;
    } 
    .js .content_site .previsao .previsao_content .divisor {
        display: none;
    }

}